<ul class="nav justify-content-center mb-2">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Hot Deals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Be Our Partner</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/ContactUs" routerLinkActive="isActive">Contact Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link d" routerLink="AboutUs" routerLinkActive="isActive">About Us</a>
    </li>
</ul>


